body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    position: relative;
}

input {
    border: 0;
}

#grid-main {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    width: 100%;
    height: 100vh; /* Use 100% if it's within another container with a defined height */
    display: flex;
}


